<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <title>Electron Up Time checker</title>
  </head>
  <body>
    <div id="root"></div>
    <div id="time">T</div>
  </body>
  <script>
    const electron = require('electron');
    const ipcRenderer = electron.ipcRenderer;
  
    ipcRenderer.on('system-uptime',(event,data) => {
      window.alert(data);
      document.getElementById('time').innerHTML = data.toFixed(2);
    });
  </script>
</html>
